<html lang="fr">

<HEAD>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <LINK href="../../Downloads/semantic.min.css" rel="stylesheet" type="text/css"></LINK>
</HEAD>
<body>
  <div id="app">
      <div class="ui segments">
        <div class="ui segment titre">
          <h1 style="font-size: 2.5em;"><i class="car icon" style="color:green;"></i>   ShareMyPlace</h1>
        </div>
        <div class="ui segment">
          <br><br>
          <div class="ui form">
            <div class="three fields">
            <div class="field">
              <div class="ui search">
                <div class="ui icon input">
                  <input v-model="search" type="text" placeholder="Rechercher par ville ou npa">
                  <i class="search icon"></i>
                </div>
              </div>
            </div>
            <div class="field">
              <button class="ui inverted green button" v-on:click.prevent="showModal = true">
                Ajouter parking
              </button>             
            </div>
          </div>
          </div>
        </div>
        <div class="ui segment">
          <table class="ui inverted table">
            <thead>
              <tr>
                <th>Status</th>
                <th>Heures disponibles du Jour</th>
                <th>Contact</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Reserver</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="place in listeParking">
              <td><i class="check circle icon" style="color: greenyellow; font-size: 1.5em;"></td>
              <td>{{place.debut}} - {{place.fin}}</td>
              <td>{{place.tel}} ou {{place.email}}</td>
              <td>{{place.adresse}}</td>
              <td>{{place.npa}}</td>
              <td>{{place.ville}}</td>
              <td><button class="ui inverted green button" v-on:click="placeId = place.nom" v-on:click.prevent="showModal2 = true" >Reserver</button></td>
            </tr>
          </tbody>
          <tfoot>
            <tr><th>{{places.length}}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr></tfoot>
        </table>
      </div>
    </div>
    <!-- pop-up -->
    <div class="" v-bind:class="{ 'ui dimmer modals page transition visible active': showModal }" style="display: block !important;">
      <div class="" v-bind:class="{ 'ui standard test modal transition hidden scrolling': showModal }" style="top: 362px;"></div>
      <div class="" v-bind:class="{ 'ui fullscreen modal transition hidden scrolling': showModal }" style="top: 362px;"></div>
      <div class="" v-bind:class="{ 'ui first coupled modal transition hidden': showModal }" style="margin-top: -140px;"></div>
      <div class="" v-bind:class="{ 'ui small second coupled modal': showModal }" style="margin-top: -92.5px;"></div>
      <div class="" v-bind:class="{ 'ui inverted test modal transition hidden scrolling': showModal }" style="top: 362px;"></div>
      <div class="ui small basic test modal transition visible active" v-if="showModal" style="margin-top: -300px; display: block !important;">
        <div class="ui icon header" :class="{green: !showError, red: showError}">
          <i class="car icon"></i> <p style="color: white;">{{showError ? 'Vous devez remplir tous les champs' : 'Proposer votre place'}}</p>
        </div>
        <div class="fields">
          <form class="ui form">
            <h3>Contact</h3>
            <div class="two fields">
              <div class="field">
                <label style="color: white;">Téléphone</label>
                <div class="ui input">
                  <input type="text" onkeypress="return event.charCode >= 46 && event.charCode <= 57" v-model="place.tel" placeholder="Tel fixe ou mobile">
                </div>
              </div>
              <div class="field">
                <label style="color: white;">Email</label>
                <div class="ui input">
                  <input type="text" v-model="place.email" placeholder="xyz@xyz.ch">
                </div>
              </div>
            </div>
            <div class="field">
              <label style="color: white;">Clé secrète</label>
              <div class="ui input">
                <input type="text" v-model="place.clef" placeholder="Clé secrète Cowaboo">
              </div>
            </div>
            <h3>Adresse de la place</h3>
            <!-- Adresse -->
            <div class="two fields">
              <div class="field">
                <label  style="color: white;">Adresse</label>
                <div class="ui input">
                  <input type="text" v-model="place.adresse" placeholder="Rue et numéro">
                </div>
              </div>
              <div class="field">
                <div class ="two fields">
                  <div class="field">
                    <label style="color: white;">NPA</label>
                    <div class="ui input">
                      <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" v-model="place.npa" placeholder="NPA">
                    </div>
                  </div>
                  <div class="field">
                    <label style="color: white;">Ville</label>
                    <div class="ui input">
                      <input type="text" v-model="place.ville" placeholder="Ville">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h3>Disponibilités</h3>  
            <div class="two fields">
              <div class="field">
                <label>De</label>
                <input type='time' id='debut' v-model="place.debut"/>
              </div>
            <div class="field">
              <label>À</label>
              <input type="time" id='fin' v-model="place.fin">
            </div>
            </div>
            <!-- Bouton formulaire -->
            <div class="two fields">
              <div class="field" align="right">
                <div class="ui red basic cancel inverted button" v-on:click.prevent="annuler()">
                  <i class="remove icon"></i> Annuler
                </div>
              </div>
              <div class="field">
                <div class="ui green ok inverted button" v-on:click.prevent="posterPlace()">
                  <i class="checkmark icon"></i> Poster l'annonce
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Fin du popUp -->

<!-- pop-up Reserver-->
    <div class="" v-bind:class="{ 'ui dimmer modals page transition visible active': showModal2 }" style="display: block !important;">
      <div class="" v-bind:class="{ 'ui standard test modal transition hidden scrolling': showModal2 }" style="top: 362px;"></div>
      <div class="" v-bind:class="{ 'ui fullscreen modal transition hidden scrolling': showModal2 }" style="top: 362px;"></div>
      <div class="" v-bind:class="{ 'ui first coupled modal transition hidden': showModal2 }" style="margin-top: -140px;"></div>
      <div class="" v-bind:class="{ 'ui small second coupled modal': showModal2 }" style="margin-top: -92.5px;"></div>
      <div class="" v-bind:class="{ 'ui inverted test modal transition hidden scrolling': showModal2 }" style="top: 362px;"></div>
      <div class="ui small basic test modal transition visible active" v-if="showModal2" style="margin-top: -300px; display: block !important;">
        <div class="ui icon header">
          <i class="ticket icon" style="color: green;"></i>En réservant une place de parking, vous transfererez 1 crédit à l'auteur. 
        </div>
        <div class="fields">
          <form class="ui form">
            <h3>Votre Clé</h3>
            <div class="field">
              <label style="color: white;">Votre Cle public</label>
              <div class="ui input">
                <input type="text" placeholder="Clé public cowaboo" v-model="clePublicReserve">
              </div>
            </div>
            <div class="field">
              <label style="color: white;">Votre clé secrète</label>
              <div class="ui input">
                <input type="text" placeholder="Clé secrète Cowaboo" v-model="clefPriveReserve">
              </div>
            </div>
            <!-- Bouton formulaire -->
            <div class="two fields">
              <div class="field" align="right">
                <div class="ui red basic cancel inverted button" v-on:click.prevent="showModal2 = false">
                  <i class="remove icon"></i> Annuler
                </div>
              </div>
              <div class="field">
                <div class="ui green ok inverted button" v-on:click.prevent="reserverPlace()">
                  <i class="checkmark icon"></i> Valider
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Fin du popUp Reserver-->
    <!-- pop-up -->
    <div class="" v-bind:class="{ 'ui dimmer modals page transition visible active': showModal3 }" style="display: block !important;">
      <div class="" v-bind:class="{ 'ui standard test modal transition hidden scrolling': showModal3 }" style="top: 362px;"></div>
      <div class="" v-bind:class="{ 'ui fullscreen modal transition hidden scrolling': showModal3 }" style="top: 362px;"></div>
      <div class="" v-bind:class="{ 'ui first coupled modal transition hidden': showModal3 }" style="margin-top: -140px;"></div>
      <div class="" v-bind:class="{ 'ui small second coupled modal': showModal3 }" style="margin-top: -92.5px;"></div>
      <div class="" v-bind:class="{ 'ui inverted test modal transition hidden scrolling': showModal3 }" style="top: 362px;"></div>
      <div class="ui small basic test modal transition visible active" v-if="showModal3" style="margin-top: -123px; display: block !important;">
        <div class="ui icon header">
          <i class="hourglass half icon" style="color: green;"></i>Encore quelques minutes...
        </div>
        <div class="content" align="center">
          <p>Poster une annonce peut prendre jusqu'à 5 minutes, s'il vous plaît veuillez ne pas fermer ni refresh la page.</p>
        </div>
        <div class="actions">
          <div class="ui red basic cancel inverted button" v-on:click.prevent="showModal3 = false">
            <i class="remove icon"></i>Fermer
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer align="center">
  <button class="ui circular facebook icon button">
    <i class="facebook icon"></i>
  </button>
  <button class="ui circular twitter icon button">
    <i class="twitter icon"></i>
  </button>
  <button class="ui circular linkedin icon button">
    <i class="linkedin icon"></i>
  </button>
</footer>
</body>
</html>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>

<script>
  var app = new Vue({
    el: '#app',
    data() {
      return {
        baseUrl: 'http://groups.cowaboo.net/group1/public/api/',
        places: [],
        search: '',
        place: { 
          nom: '',
          email: '', 
          clef: '', 
          tel: '', 
          adresse: '', 
          npa: '', 
          ville: '', 
          debut: '', 
          fin: '', 
        },
        clePublicReserve:'',
        clefPriveReserve:'',
        active: true,
        showModal: false,
        showModal2: false,
        showModal3: false,
        placeId: '',
        showError: false      }
    },
    computed: {
      listeParking () {
        return this.places.filter((place) => {
          if (place.ville.toLowerCase().startsWith(this.search.toLowerCase()) || place.npa.startsWith(this.search)) { 
            return place 
          }
        })
      }
    },
    methods: {
      validation () {
        let valid = true
        if (!this.place.email.length > 0) { this.showError = true; valid = false; return valid }
        if (!this.place.clef.length > 0) { this.showError = true; valid = false; return valid }
        if (!this.place.tel.length > 0) { this.showError = true; valid = false; return valid }
        if (!this.place.adresse.length > 0) { this.showError = true; valid = false; return valid }
        if (!this.place.npa.length > 0) { this.showError = true; valid = false; return valid }
        if (!this.place.ville.length > 0) { this.showError = true; valid = false; return valid }
        if (!this.place.debut.length > 0) { this.showError = true; valid = false; return valid }
        if (!this.place.fin.length > 0) { this.showError = true; valid = false; return valid }
        this.showError = false
        return valid
      },
      validationReservation () {
        let valid = true
        if (!this.clePublicReserve.length > 0) { this.showError = true; valid = false; return valid }
        if (!this.clefPriveReserve.length > 0) { this.showError = true; valid = false; return valid }
        this.showError = false
        return valid
      },
      guid() {
        function s4() {
        return Math.floor((1 + Math.random()) * 0x10000)
            .toString(16)
            .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
      },
      viderLesChamps () {
        this.place.nom= '',
        this.place.email= '', 
        this.place.clef= '', 
        this.place.tel= '', 
        this.place.adresse= '', 
        this.place.npa= '', 
        this.place.ville= '', 
        this.place.debut= '', 
        this.place.fin= '' 
      },
      posterPlace(){
        if (this.validation()) {
          let debut = 'secretKey=' + this.place.clef + '&observatoryId=parking' + this.guid()         
          axios.post(this.baseUrl + 'observatory', debut).then((response) => {
            axios.post(this.baseUrl + 'entry', debut + '&tags=Adresse&value=' + this.place.adresse).then((response) => {
              console.log(response)
              axios.post(this.baseUrl + 'entry', debut + '&tags=Début&value=' + this.place.debut).then((response) => {
                console.log(response)
                axios.post(this.baseUrl + 'entry', debut + '&tags=Email&value=' + this.place.email).then((response) => {
                  console.log(response)
                  axios.post(this.baseUrl + 'entry', debut + '&tags=Fin&value=' + this.place.fin).then((response) => {
                    console.log(response)
                    axios.post(this.baseUrl + 'entry', debut + '&tags=NPA&value=' + this.place.npa).then((response) => {
                      console.log(response)
                      axios.post(this.baseUrl + 'entry', debut + '&tags=Telephone&value=' + this.place.tel).then((response) => {
                        console.log(response)
                        axios.post(this.baseUrl + 'entry', debut + '&tags=Ville&value=' + this.place.ville).then((response) => {
                          console.log(response)
                          this.viderLesChamps()
                        }).catch((error) => {console.log(error)})
                      }).catch((error) => {console.log(error)})
                    }).catch((error) => {console.log(error)})
                  }).catch((error) => {console.log(error)})
                }).catch((error) => {console.log(error)})
              }).catch((error) => {console.log(error)})
            }).catch((error) => {console.log(error)})
          }).catch((error) => {console.log(error)})
          this.showModal = false
          this.showModal3 = true
        }
      },
      reserverPlace(){
        if (this.validationReservation ()) {
          console.log(this.placeId)
          axios.get(this.baseUrl + 'observatory?observatoryId='+this.placeId).then((response) =>{
            let dest = response.data.dictionary.author
            axios.get(this.baseUrl + 'users').then((response) => {
              let cleDest = response.data.user_list.list[dest]
              console.log(this.baseUrl + 'user/transfer?', 'public=' + this.clePublicReserve + '&secretKey=' + this.clefPriveReserve + '&destination=' + cleDest + '&amount=1')
              axios.post(this.baseUrl + 'user/transfer', 'public=' + this.clePublicReserve + '&secretKey=' + this.clefPriveReserve + '&destination=' + cleDest + '&amount=1').then((response) => {
                this.viderChampsStelar()
              }).catch((error) => console.log(error))
            }).catch((error) => console.log(error))
          }).catch((error) => console.log(error))
          this.showModal2 = false
        }
      },
      viderLesChamps () {
        this.place.nom= '',
        this.place.email= '', 
        this.place.clef= '', 
        this.place.tel= '', 
        this.place.adresse= '', 
        this.place.npa= '', 
        this.place.ville= '', 
        this.place.debut= '', 
        this.place.fin= '' 
      },
      viderChampsStelar () {
        this.clefPriveReserve= '',
        this.clePublicReserve= ''
      },
      annuler() {
        this.viderLesChamps()
        this.showModal = false
        this.showModal2 = false
        this.showError = false
      }
    },
    mounted () {
      let places = []
      axios.get(this.baseUrl + 'tags')
          .then((response) => {
            places = Object.keys(response.data.tag_list.list)
            places.forEach((nomPlace, i) => {
              axios.get(this.baseUrl + 'observatory', {
                params: {
                  observatoryId: nomPlace
                }
              }).then((response) => {
                let place = {nom: response.data.dictionary.id}
                Object.keys(response.data.dictionary.entries).forEach((key) => {
                  if (response.data.dictionary.entries[key].tags === '||Telephone||') {
                    place.tel = response.data.dictionary.entries[key].value
                  } else if (response.data.dictionary.entries[key].tags === '||Email||') {
                    place.email = response.data.dictionary.entries[key].value
                  }else if (response.data.dictionary.entries[key].tags === '||Nom||') {
                    place.nom = response.data.dictionary.entries[key].value
                  } else if (response.data.dictionary.entries[key].tags === '||Adresse||') {
                    place.adresse = response.data.dictionary.entries[key].value
                  } else if (response.data.dictionary.entries[key].tags === '||NPA||') {
                    place.npa = response.data.dictionary.entries[key].value
                  } else if (response.data.dictionary.entries[key].tags === '||Ville||') {
                    place.ville = response.data.dictionary.entries[key].value
                  } else if (response.data.dictionary.entries[key].tags === '||Début||') {
                    place.debut = response.data.dictionary.entries[key].value
                  } else if (response.data.dictionary.entries[key].tags === '||Fin||') {
                    place.fin = response.data.dictionary.entries[key].value
                  }
                })
                this.places.push(place)
              }).catch((error) => {
                console.log(error)
              })
            })
          })
          .catch((error) => {
            console.log(error)
          }
        )
        console.log(this.places)
    }
  })
</script>
<style scoped>
 body {
   background-color: #222 !important;
 }
 label {
   color: white !important;
 }
 h3 {
   color: white !important;
 }

 footer { 
    padding: 0.7em;
    width: 100%;
    background-color: #333;
    display: block;
    bottom: 0;
    position: fixed;
  }
  .green {
    color: green;
  }
  .red {
    color:red;
  }

  .ui.segment {
    background-color: #222;
    width: 30%;
    padding-left: 25%;
  }
  .ui.segments {
    width: 80%;
  }

  .ui.segment.titre {
    text-align: center;
    padding-left: 0;
    width: 100vw;
    color: white;
    background-color: #333;
  }
  
</style>